

.product{
  display: flex;
  justify-content: center;
  position: relative;
  .left{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .product-wrapper {
      overflow: hidden;
      position: relative;
      border-radius: 10px;
      transition: box-shadow .4s;
      .image-wrapper{
        width: 100%;
        height: 200px;
        .image{
          max-width: 100%;
        }
      }

      .image-url{
        width: 100%;
      }
    }

  }
  .right{
    display: flex;
    justify-content: center;

    .name-size{
      font-size: 35px;
      font-family: cursive;
    }
    .other-size{
      font-size: 20px;
      font-family: cursive;
    }
  }
  .bottom{
    display: flex;
    justify-content: space-between;
    .input{
      width: 100%;
      font-family: cursive;
    }
    .showTag{
      display: flex;
      justifyContent: center;
      flexWrap: wrap;
      border: 1px solid black;
      border-radius: 10px;
    }
    .addTag{
      display: flex;
      justify-content: space-between;
    }
  }
}
