.accountSetting{
  display: flex;
  justify-content: flex-start;
  .accountSetting-title{

  }
  .accountSetting-first{
    font-family: cursive;
    margin-bottom: 20px;
  }

  .accountSetting-second{
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    .btn{
      display: flex;
      justify-content: flex-end;
      .btn-btn{
        background-color: black;
        color: white;
        height: 50px;
      }
    }
  }

  .accountSetting-third{
    margin-bottom: 20px;

  }
}

.field{
  width: 100%;
}