

.orderHistory{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black!important;

  .order-container{
    display: flex;
    justify-content: center;

    .order-header{
      font-size: 30px;
      font-family: cursive;
      font-weight: bold;
    }
    .order-subheader{
      font-family: cursive;
      font-size: 25px;

    }

    .order-image-row{
      display: flex;
      justify-content: flex-start;
      .order-image{
        border-radius: 15px;
        width: 100%;
      }
      .order-view{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        background-color: red;
      }

    }
  }





}